@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Poppins:ital,wght@0,300;1,200&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

 :root {
  --bs-body-font-family: 'Caveat', cursive;
 }
 body {
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Caveat', cursive; */
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
 }
 nav {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
 }
 nav ul li {
  transition: 0.3s ease-in-out;
 }
 nav ul li:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
 }

 .logo {
  font-family: 'Caveat', cursive;
  position: relative;
 }
 .logo img {
  position: absolute;
  top: 0.3rem;
  width: 1.6rem;
  transform: rotate(30deg);
 }
 .logo-modal img {
  width: 8rem;
  height: auto;
  border-radius: 0%
 }
 .logo-modal span {
  font-size: 3.3em;
  font-family: 'Caveat', cursive;
 }
button, button[type=button] {
  background-color: #FF7D04;
  border: 0.1rem solid transparent;
}
.login-btn {
  width: 15rem;
  height: 3rem;
  /* border: 0.1rem solid #FF7D04;
  background-color: #FF7D04; */
  /* position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 2;
}
.app-container {
  background-color: rgba(203, 203, 196, 0.8); 
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home {
  position: relative;
}

.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/home-bg.jpg');
  background-size: cover;
  filter: blur(3px);
  z-index: 1;
}

.home-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.logo-wrapper {
  width: 20rem;
  height: 20rem; 
  border-radius: 50%;
  background-color: #fff;
}
.quote {
  color: #fff;
}
.login-wrapper {
  width: 25rem;
  height: 30rem;
}
form {
  background-color: #fff;
}
.page {
  font-family: 'Poppins', sans-serif;
}
/* .instructions {
  min-height: 23rem;
} */
.hero-container {
  position: relative;
  height: 10rem;
  z-index: 1;
  padding: 2rem;
  background: rgba(228, 229, 220, 0.1);
  border: 0.1rem solid transparent;
}

.hero-text {
  /* @apply text-neutral-400 text-2xl font-bold; */
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 5%;
  color: #282727;
}
.pag-link {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid rgba(203, 203, 196, 0.8);
  background-color: transparent;
  border-radius: 50%;
}
.recipe-view {
  /* background-image: url('./src/assets/img/inspiration-bg.jpg'); */
  background-size: cover;
  /* background-position: calc(100% 0px) calc(100% -5px); */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* background-position: right 15% bottom 45%; */
}
.detail-info {
  width: 80%;
}
.recipes-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('./src/assets/img/inspiration.jpg'); */
  background-size: cover;
  /* filter: blur(3px); */
  z-index: 1;
}
/* .show-recipe {
  position: absolute;
  top: 20%;
  z-index: 2;
  font-family: 'Caveat', cursive;
} */
/* .cards {
  width: 20rem;
  height: 20rem; 
  border: none;
} */
.img-wrapper {
  width: 15rem;
  height: 15rem;
  border: 0.1rem solid #e8e2d7eb;
  background-color: #e8e2d7eb;
  border-radius: 50%;
  opacity: 0.8;
}
.img-wrapper:hover {
  /* background-color: rgba(133, 130, 130, 0.8); */
  transition: 0.3s ease-in-out;
}
/* img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  object-fit: cover;
  opacity: 1;
} */
.card {
  /* background-color: rgba(228, 229, 220, 0.1); */
}
/* .card:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
} */
button i:hover {
  /* opacity: 0.8; */
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
}
button a i:hover {
  /* opacity: 0.8; */
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
}
.recipe-page {
  padding: 20px;
}
/* notebook */
.book {
  width: 80%;
  height: 80vh;
  z-index: 2;
  background-color: rgba(255, 255, 255);
  /* background-image: url('../src/assets/img/recipeview5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  position: static;
  overflow: hidden;
  filter: blur(3px);
  z-index: 1; */
  /* background-color: rgba(9, 9, 8, 0.3); */
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url('../src/assets/img/recipeview5.jpg');
  background-size: cover;
  filter: blur(3px);
}
/* .background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff; 
}

.background-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0.1;
  opacity: 0.2;
  pointer-events: none;
  background-image: url('assets/img/meal.png');
  background-repeat: repeat;
  background-size: auto;
  background-color: #cccccc; 
} */
.book-page {
  position: absolute;
  top: 25%;
  width: 70%;
  z-index: 2;
  font-family: 'Caveat', cursive;
  /* font-family: 'Roboto', sans-serif; */
}
.custom-options {
  /* position: absolute;
  top: 15%;
  width: 70%;
  z-index: 2; */
  /* font-family: 'Caveat', cursive; */
  /* font-family: 'Roboto', sans-serif;
  background-color: rgba(255, 255, 255);
  border: 1px solid #dedede;
  border-radius: 1rem; */
}

.custom-recipes {
  /* position: absolute; */
  /* top: 25%; */
  /* width: 90%; */
  /* z-index: 2; */
  /* font-family: 'Caveat', cursive; */
  font-family: 'Roboto', sans-serif;
}

form {
  font-family: 'Roboto', sans-serif;
}
.form-control::-moz-placeholder {
  color: #b8b6b6 !important;
  outline: none !important;
}
.form-control:-ms-input-placeholder {
  color: #b8b6b6 !important;
  outline: none !important;
}
.form-control::-webkit-input-placeholder {
  color: #b8b6b6 !important;
  outline: none !important; 
}

input[type=username]:focus,
input[type=password]:focus,
[type=text].form-control:focus, 
[type=password].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border-color: #FF7D04;
}

input[name="title"],
input[name="ingredients"],
textarea[name="instructions"]:focus {
  width: 35rem;
  /* width: 90%; */
  border: none;
  outline: none;
  background-color: transparent;
  /* font-family: 'Caveat', cursive; */
  font-family: 'Poppins', sans-serif;
  /* overflow-y: scroll; */
}
textarea[name="instructions"] {
  min-height: 23rem;
  /* width: 25rem; */
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
  /* font-family: 'Caveat', cursive; */
  font-family: 'Poppins', sans-serif;
  /* overflow-y: scroll; */
}
input[type="file" i]:hover {
  background-color: none;
}
.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  height: 36rem;
  /* width: 500px; */
  width: 100%;
  background-color: rgba(255, 255, 255);
  border: 1px solid #dedede;
  border-radius: 1rem;
}
.list input,
.list textarea,
.list li {
  margin-left: 1rem;
  list-style: none;
  border-bottom: 1px dotted #aeacac;
  text-indent: 25px;
  height: auto;
  padding: 1rem;
  text-transform: capitalize;
}
.list input:hover,
.list textarea:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.lines {
  border-left: 1px solid rgba(209, 107, 30);
  border-right: 1px solid rgba(209, 107, 30);
  width: 2px;
  float: left;
  min-height: 90%;
  margin-left: 40px;
}
.text {
  position: absolute;
  top: 65px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower';
  overflow: hidden;
  outline: none;
}
/* .text-lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(#f0f0f0 0px, #f0f0f0 24px, #aeacac 25px);
} */
.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: #b08769;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
  z-index: 1;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}
.recipes-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
}

.border-card {
  border-bottom: 0.1rem dashed #a09e9e;
  margin-top: 0.5rem;
}

@media (max-width: 991.98px) {
  .holes {
    position: absolute;
    top: 10px;
  }
  .hole-top {
    left: 10%;
  }
  .hole-middle {
    left: 50%;
  }
  .hole-bottom {
    left: 90%;
  }
  .lines {
    border-top: 1px solid rgba(209, 107, 30);
    border-bottom: 1px solid rgba(209, 107, 30);
    min-height: 0%;
    height: 2px;
    min-width: 90%;
    margin-top: 2.5rem;
  }
  .book {
    height: 100%;
  }
}

/* @media (max-width: 575.98px) {

} */